<div class="min-h-full">
  <app-menu></app-menu>
  <header class="bg-white shadow mt-16">
    <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
      <h1 class="text-3xl font-bold tracking-tight text-gray-900">
        Centros de votación
      </h1>
    </div>
  </header>
  <main>
    <div class="mx-auto max-w-7xl py-6 xs:p-2 sm:px-6 lg:px-8 grid gap-4 xs:gap-6 md:grid-cols-3 lg:grid-cols-4 grid-cols-2">
      <!-- TEST -->
      <div *ngFor="let dis of distritos">
        <app-card-distrito [distrito]="dis"></app-card-distrito>
      </div>

    </div>
  </main>
</div>
