<div
  class="min-h-screen bg-gradient-to-br from-blue-400 to-blue-600 flex justify-center items-center"
>
  <div class="bg-white rounded-lg shadow-lg p-8 md:p-12 w-full max-w-md">
    <h2 class="text-3xl font-bold text-center mb-8 md:mb-10">Iniciar Sesion</h2>
    <form
      class="flex flex-col space-y-6"
      [formGroup]="loginFrm"
      (ngSubmit)="submit()"
    >
      <div class="relative">
        <label for="email" class="font-bold mb-2 text-gray-700">Usuario</label>
        <input
          type="text"
          id="user"
          name="user"
          formControlName="user"
          placeholder="Usuario"
          class="border border-gray-400 py-2 px-3 w-full rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-600"
          required
          autocomplete="off"
        />
        <div
          *ngIf="this.loginFrm.get('user')?.errors?.['minlength']"
          class="bg-red-100 text-xs text-red-500 p-2 mt-2"
        >
          El usuario es requerido y mayor a 4 caracteres
        </div>
      </div>
      <div class="relative">
        <label for="password" class="font-bold mb-2 text-gray-700"
          >Contraseña</label
        >
        <input
          type="password"
          id="password"
          name="password"
          formControlName="password"
          placeholder="**********"
          class="border border-gray-400 py-2 px-3 w-full rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-600"
          required
        />
        <div
          *ngIf="loginFrm.hasError('minlength', 'password')"
          class="bg-red-100 text-xs text-red-500 p-2 mt-2"
        >
          La contraseña debe contener al menos 5 caracteres.
        </div>
      </div>
      <div>
        <button
          [disabled]="!this.loginFrm.valid"
          type="submit"
          class="bg-blue-500 w-full hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-lg transition duration-200"
        >
          Ingresar
        </button>
      </div>
      <p class="text-center text-gray-700">
        <a href="/" class="text-blue-500 font-bold hover:text-blue-600"
          >Ir a Resultados Generales</a
        >
      </p>
    </form>
    <div *ngIf="frmValid" class="bg-red-100 text-sm text-red-500 p-2 mt-2">
      {{ messageError }}
    </div>
  </div>
</div>
